.statusTabLayout{
    box-sizing: border-box;
    padding: 10px;
    min-height: 200px;
    .statusBar{
        width: 100%;
        min-height: 100px;
        // border: 1px solid #CCC;
        // border-radius: 10px;
        // box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
        padding: 15px;
        display: flex;
        flex-direction: row;
        .leftBox{
            >div{
                // // margin-right: 20px;
                // width: 50%;
                width: 50%;
                display: flex;
                flex-direction: row;
                div:first-child{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-shrink: 0;
                }
                div + div{
                    padding: 0 10px 0 0;
                }
            }
            display: flex;
            flex-wrap: wrap;
            flex: 1;

        }
        .rightBox{
            width: 100px;
            .statusTitle{
                font-size: 20px;
                font-weight: 500;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }
    .statusCircel{
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }
}